  a:link, a:visited, a:hover, a:active {
    color:#0f0;
    font-size:16px;
  }

ul {
    list-style-type:none;
  }
  #titulo{
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
  #cabecera {
    background-color: darkgreen;
    color:#f96;
    padding:1%;
  }

  #contenedor {
    margin:10px auto;
    width:80%;
  }
  #contenido {
    background-color:#ddd;
    float:left;
    padding:2%;
    width:71%;
  }
  #menu {
    background-color:#999;
    float:left;
    min-width: 120px;
    padding:2%;
    width:21%;
  }
  #pie { 
    background-color:#bbb;
    clear:both;
    color:#900;
    padding:2%;
    text-align:center;
  }

body{
    background: url(../resources/Hojas_fondo.PNG);
    background-repeat: repeat;
}

.imagenini img{
    display: block;
    margin: auto;
    alt: "Imagen de la Moringa";
    width:70%; 
    height:70%;
}

.aceite img{
    alt: "Imagen del aceite de la Moringa";
    width:50%; 
    height:70%;
    display: block;
    margin: auto;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 30px;
}

h1{
    font-size: 40px;
    color: red;
    text-align: center;
}

h2{
    font-size: 30px;
    color: crimson;
    text-align: left;
}

h3{
    font-size: 25px;
}

table {
    width: 35%;
    margin: auto;
    border: 1px solid #000;
}

th{
    background-color: green;
    color: white;
}

td{
    background-color: white;
}

th, td {
    width: auto;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
}

caption {
    padding: 0.3em;
    caption-side: bottom;
}

iframe{
    width: 80%;
    height: 550px; 
}

.video{
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 120px;
    margin-top: 50px;
}

footer label {
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}