.pagina{
    margin-left: 12%;
    margin-right: 12%;
}

body{
    background: url(../resources/Hojas_fondo.PNG);
    background-repeat: repeat;
}

.imagenini img{
    display: block;
    margin: auto;
    alt: "Imagen de la Moringa";
    width:70%; 
    height:70%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-justify: auto;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 30px;
}

h1{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: left;
}

h3{
    font-size: 25px;
}

.menu {
    display: flex; 
    flex-direction: row;
    justify-content:right
    align-items: center;
    position: fixed;
    width: calc(100% - 100px);
}

.menu nav {
    width: 650px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 50%);
}

.menu nav a {
    text-align: center;
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Arial;
    text-transform: uppercase;
    color: white;
}

.menu nav a:hover {
    background-color: #5b66a4;
    color: #fff;
    display: block;
}

.menu nav a:hover span {
    display: block;
}

.menu nav a:active {
    background-color: #fff;
    color: #f99b1d;
}

table {
    width: 35%;
    margin: auto;
    border: 1px solid #000;
}

th{
    background-color: green;
    color: white;
}

td{
    background-color: white;
}

th, td {
    width: auto;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
}

caption {
    padding: 0.3em;
    caption-side: bottom;
}

iframe{
    width: 80%;
    height: 550px; 
}

.video{
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 120px;
    margin-top: 50px;
}

footer label {
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}